# Ignore compiled classes
*.class

# Ignore macOS-specific system file
.DS_Store

# Ignore build directories (used by IDEs or tools)
bin/
out/
build/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/
